<nav class="navbar navbar-light d-flex">
  <div class="mr-auto p-2 logo">PhotoApp</div>
  <% if current_user %>
    <div class="flex-items">
      <div class="edit">
        <%= link_to ('<i class="fa fa-user"></i> ' + truncate(current_user.email, length: 25)).html_safe,
        edit_user_registration_path, title: 'Edit Profile' %>
      </div>
      <div class="logout">
        <%= link_to('Logout', destroy_user_session_path,
        class: 'btn btn-xs btn-danger', title:'Logout', :method => :delete) %>
      </div>
    </div>
  <% else %>
    <div style="margin-right: 30px">
      <%= link_to('Sign In', new_user_session_path, class: 'btn btn-primary', title: 'Sign In') %>
    </div>
  <% end %>
</nav>
