@import "bootstrap";
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 40px;
  font-size: 10px;
}

nav {
  background-color: lightblue;
  color: black;
  display: flex;
  justify-content: space-around;
}

.logo {
  width: 100px;
}
.edit {
  width: 100px;
  margin-right: 40px;
  color: black;
}
.logout {
  width: 100px;
}

.flex-items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}

.features {
  ul {
    margin-left: 0;
    padding-left: 15px;
  }
}

.jumbotron {
  text-align: center;
  background-image: asset-url('meetingx.png');
  background-size: cover;
  color: #fff;
  font-family: 'Helvetica Neue' !important;
  font-stretch: expanded;
  padding-top: 40;
  padding-bottom: 25px;
  margin-top: 10px;
  margin-bottom: 15px;
  margin-left: 15px;
  margin-right: 15px;
  text-shadow: -1px 0 #555, 0 1px #555, 1px 0 #555, 0 -1px #555;

}

.no-left-padding {
  padding-left: 0 !important;
}

.listing {
  list-style: none;
  padding-left: 0;
}

.payment-form {
  // border: 1px solid red;
  display: flex;
  margin-left: 2px;
}

// .plans {
//   display: flex;
//   flex-direction: row;
//   justify-content: space-around;
// }
