@import "bootstrap";
footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: black;
  height: 50px;
}

nav {
  background-color: lightblue;
  color: black;
  display: flex;
  justify-content: space-between;
}

.logo {
  width: 100px;
}
.edit {
  width: 100px;
  margin-right: 40px;
  color: black;
}
.logout {
  width: 100px;
}

.flex-items {
  display: flex;
  justify-content: space-between;
  gap: 40px;
}
